.w8 {
	width: 8%;
}

.w10 {
	width: 10%;
}

.w30 {
	width: 30%;
}

.w50 {
	width: 50%;
}

.w70 {
	width: 70%;
}

.w80 {
	width: 80%;
}

.w90 {
	width: 90%;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.vh85 {
	height: 85vh;
}

.fo6 {
	font-size: 6px;
}

.fo11 {
	font-size: 11px;
}

.fo12 {
	font-size: 12px;
}

.fo13 {
	font-size: 13px;
}

.fo14 {
	font-size: 14px;
}

.fo15 {
	font-size: 15px;
}

.fo16 {
	font-size: 16px;
}

.fo17 {
	font-size: 17px;
}

.fo18 {
	font-size: 18px;
}

.fo19 {
	font-size: 19px;
}

.fo20 {
	font-size: 20px;
}

.fo21 {
	font-size: 21px;
}

.fo22 {
	font-size: 22px;
}

.fo24 {
	font-size: 24px;
}

.fo26 {
	font-size: 26px;
}

.fo28 {
	font-size: 28px;
}

.fo30 {
	font-size: 30px !important;
}

.fo32 {
	font-size: 32px;
}

.fo34 {
	font-size: 34px;
}

.fo36 {
	font-size: 36px;
}

.fo40 {
	font-size: 40px;
}

.fo52 {
	font-size: 52px;
}

.fo55 {
	font-size: 55px;
}

.fo65 {
	font-size: 65px;
}

.fw400 {
	font-weight: 400;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.bco {
	color: #ffe972 !important;
}

.textLeft {
	margin-top: 40px;
	text-align: left !important;
	padding-left: 15px;
	padding-right: 30px;
}

.HeaderContainer {
	background: url(../../public/assets/cover_image.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-position: no-repeat;
	background-position: center;
}


.collabs div {
	height: 95px;
	display: flex;
	justify-content: center;
	margin-bottom: 22px;
}

.collabs a {
	margin: auto;
}

.collabs img {
	max-height: 85px;
	margin: auto;
}

/* About section begins */

.aboutSection {
	border-top: 6px solid #ffe972;
	background: linear-gradient(#000000, #3e205a);
	display: flex;
	justify-content: center;
	text-align: justify;
}

.aboutContainer {
	padding: 10px 40px 40px 40px;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 100px;
	border: 2px solid #000;
}

.aboutContainer img {
	border-radius: 50%;
	border: 2px solid #ffe972;
}

.aboutQuote {
	border-left: 4px solid #ffe972;
	padding-left: 35px;
	margin-left: 35px;
}

.pulsating {
	background-color: #FFE972;
	color: #000;
	font-weight: 600;
	font-size: 16px;
	border: none;
	box-shadow: -10px 10px 90px #ffe972;
	animation: pulsating 0.6s linear infinite;
}

.pulsating_text a {
	color: #ffe972;
	animation: pulsating 0.6s linear infinite;
	text-decoration: none;
	margin-left: 12px;
}

@keyframes pulsating {
	0% {
		transform: scale(1.07);
	}

	80% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}

/* Associations */
.associationsContainer {
	padding: 0px 50px;
}

.associationRow {
	display: inline;
}

.associationRow a {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
}

.associations hr {
	border-bottom: 3px solid #fff;
	max-width: 200px;
}

.UlTag {
	list-style: none;
}

/* Home Blogs section */
.homeBlogSection {
	padding-top: 125px;
}

.homeBlogSection hr {
	border-bottom: 3px solid #ffe972;
	max-width: 200px;
	margin: 18px auto;
}

.blogSlider img {
	height: 215px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.blogSlider input[type="radio"] {
	display: none;
}

.blogSlider {
	padding-top: 20px;
	/* height: 90vh; */
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.blogSlider label {
	margin: auto;
	width: 30%;
	/* height: 100%; */
	border-radius: 16px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: transform 0.4s ease;
	background-color: #fff;
	--tw-shadow: 0 14px 40px -10px rgba(0, 0, 0, 0.35) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.blogcardimage {
	height: 215px;
}

.blogBody {
	padding: 40px 32px 20px 32px;
	line-height: 1.7em;
	height: 250px;
}

.blogBody a {
	color: #ffe972;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
}

.blogSummary {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	color: #777777;
	line-height: 1.35em;
}

.blogFooter {
	border-top: 1px solid #eeeeee;
	padding: 16px 32px;
	color: #adadad;
}

.blogsHandlerIcons {
	margin-top: 560px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

/* Blogs page */
.collapsibleBlogCategories {
	justify-content: space-between;
	font-size: 11px;
	width: 100%;
	background-color: #000;
	/* margin: 0px 80px; */
}

.collapsibleBlogCategories div {
	cursor: pointer;
	font-weight: 600;
	padding: 10px 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.active {
	background-color: #ffe972;
	color: #000 !important;
}

@media only screen and (min-width: 577px) {
	.textLeft {
		padding-left: 100px;
		padding-right: 5px;
	}

	.associations {
		background: linear-gradient(#3e205a 100px,
				#324a80 1200px,
				/* #bd1114 1900px, */
				#000000 2100px,
				/* #857979 3000px, */
				#3e205a 3000px,
				#000000 3900px);
		padding-top: 150px;
	}

	.associations .container-fluid {
		padding: 0px 50px;
	}

	.mb9 {
		margin-bottom: 9rem !important;
	}
}

@media only screen and (min-width: 1800px) {
	.associations {
		background: linear-gradient(#3e205a 100px,
				#324a80 1100px,
				#000000 1700px,
				#3e205a 2800px,
				#000000 3350px) !important;
	}
}

@media only screen and (max-width: 800px) {
	.textLeft {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 576px) {
	.HeaderContainer {
		background: url(../../public/assets/cover_image_mobile.jpg);
		height: 45vh;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.collabs {
		background-color: black;
		padding: 0px 10px 10px 10px;
	}

	.collabs div {
		margin-bottom: 2px;
	}

	.aboutContainer {
		padding: 0px 20px 20px 20px !important;
		margin-top: 40px !important;
		font-size: 16px;
	}

	.aboutQuote {
		margin-left: 0px;
	}

	.associations {
		background: linear-gradient(#3e205a 50px,
				#324a80,
				#000000 2800px,
				#3e205a 3900px,
				#000000 5000px) !important;
		padding-top: 80px !important;
	}

	.associationsContainer {
		padding: 0px 20px;
	}

	.blogSlider {
		/* height: 66vh !important; */
	}

	.blogSlider label {
		width: 50% !important;
	}

	.blogSlider img,
	.blogcardimage {
		height: 125px !important;
	}

	.blogBody {
		padding: 20px 16px 10px 16px !important;
		line-height: 1.3em !important;
		height: 180px !important;
	}

	.blogsHandlerIcons {
		margin-top: 380px !important;
	}

	.blogFooter {
		padding: 8px 16px;
	}

	.mb9 {
		margin-bottom: 4rem !important;
	}

	.mfo35 {
		font-size: 35px !important;
	}

	.mfo32 {
		font-size: 32px !important;
	}

	.mfo30 {
		font-size: 30px !important;
	}

	.mfo25 {
		font-size: 25px !important;
	}

	.mfo24 {
		font-size: 24px !important;
	}

	.mfo22 {
		font-size: 22px !important;
	}

	.mfo20 {
		font-size: 20px !important;
	}

	.mfo18 {
		font-size: 18px !important;
	}

	.mfo17 {
		font-size: 17px !important;
	}

	.mfo16 {
		font-size: 16px !important;
	}

	.mfo15 {
		font-size: 15px !important;
	}

	.mfo14 {
		font-size: 14px !important;
	}

	.mfo13 {
		font-size: 13.5px !important;
	}

	.mfo12 {
		font-size: 12px !important;
	}

	.mfo11 {
		font-size: 11px !important;
	}

	.mow90 {
		width: 90% !important;
	}
}