.w8 {
	width: 8%;
}

.w10 {
	width: 10%;
}

.w30 {
	width: 30%;
}

.w50 {
	width: 50%;
}

.w70 {
	width: 70%;
}

.w80 {
	width: 80%;
}

.w90 {
	width: 90%;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.vh85 {
	height: 85vh;
}

.fo6 {
	font-size: 6px;
}

.fo11 {
	font-size: 11px;
}

.fo12 {
	font-size: 12px;
}

.fo13 {
	font-size: 13px;
}

.fo14 {
	font-size: 14px;
}

.fo15 {
	font-size: 15px;
}

.fo16 {
	font-size: 16px;
}

.fo17 {
	font-size: 17px;
}

.fo18 {
	font-size: 18px;
}

.fo19 {
	font-size: 19px;
}

.fo20 {
	font-size: 20px;
}

.fo21 {
	font-size: 21px;
}

.fo22 {
	font-size: 22px;
}

.fo24 {
	font-size: 24px;
}

.fo26 {
	font-size: 26px;
}

.fo28 {
	font-size: 28px;
}

.fo30 {
	font-size: 30px !important;
}

.fo32 {
	font-size: 32px;
}

.fo34 {
	font-size: 34px;
}

.fo36 {
	font-size: 36px;
}

.fo40 {
	font-size: 40px;
}

.fo52 {
	font-size: 52px;
}

.fo55 {
	font-size: 55px;
}

.fo65 {
	font-size: 65px;
}

.fw400 {
	font-weight: 400;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.textRight {
	text-align: right;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: white;
	background: black;
	z-index: 999;
}

.menuIcon {
	cursor: pointer;
}

.textDark {
	color: #000;
}

/* Floating whatsapp con */

.whatsapp_icon {
	position: fixed;
	bottom: 0;
	right: 30px;
	z-index: 999;
	padding: 0;
	font-size: 80px;
	cursor: pointer;
	display: flex;
}

.whatsapp_icon img {
	width: 70px;
	height: 70px;
}

.whatsapp_icon div {
	margin: auto;
	font-weight: 700;
	padding: 6px 25px;
	border-radius: 8px;
	margin-top: 55px;
	margin-right: 18px;
	width: 144px;
	position: relative;
	font-size: 16px;
}

.whatsapp_icon_span {
	position: absolute;
	color: rgb(255, 255, 255);
	background: rgb(221, 0, 0);
	top: 32px;
	right: 6px;
	font-size: 11.5px;
	border-radius: 50%;
	min-width: 20px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
}

.borde-dark {
	border-left: 14px solid #000;
}

.borde-white {
	border-left: 14px solid #fff;
}

.bordeGray {
	border-left: 14px solid gray;
}

.bgGray {
	background-color: gray;
}

.bgDark {
	background-color: #000;
}

.brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.brand span {
	font-size: 52px;
	font-weight: 600;
	flex: 1;
	text-align: center;
	cursor: pointer;
	letter-spacing: .15em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.brand span:hover {
	color: #ffe972;
}

.topBar {
	height: 100px;
	display: flex;
	padding: .5em 1em;
	justify-content: space-between;
	align-items: center;
}

.topBar button,
.sidebarButton {
	padding: 5px 20px;
	background-color: #FFE972;
	color: #000;
	font-weight: 600;
	font-size: 17px;
	border: none;
	box-shadow: -10px 10px 90px #ffe972;
	animation: pulsating 0.6s linear infinite;
}

.topBar button:hover,
.sidebarButton:hover {
	background-color: #FFE972;
	color: #000;
}

.sidebarButton {
	margin-bottom: 17px;
}

.SidebarItems {
	font-size: 14px;
	margin: 6px;
}

.Searchbox {
	height: 40px;
	background-color: #FFE972;
	border-radius: 30px;
	align-items: center;
	padding: 5px 10px;
	width: 88%;
	margin: 20px auto;
}

.Searchbox svg {
	font-size: 17px;
	color: #000;
}

.Searchbox input {
	flex: 1;
	height: 30px;
	border: none;
	outline: none;
	font-size: 13px;
	padding-left: 10px;
	background-color: #FFE972;
	width: 80%;
}

.Searchbox input::placeholder {
	color: #000;
}

@keyframes pulsating {
	0% {
		transform: scale(1.07);
	}

	80% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}

.closeIcon {
	position: absolute;
	right: 35px;
	top: 30px;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

.cartIcon {
	position: absolute;
	font-size: 30px;
	color: #ffe972;
	right: 20px;
	bottom: 10px;
}

.cartCount {
	position: absolute;
	font-weight: bolder;
	color: #FFE972;
	z-index: 9999;
	font-size: 1.2rem;
	right: 10px;
	bottom: 40px;
}

.bottomBar {
	padding: 0em 2em 1.5em 2em;
	display: flex;
	justify-content: space-evenly;
	font-weight: bold;
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
}

.bottomBar div {
	cursor: pointer;
}

.bottomBar img {
	margin-right: 7px;
}

.sidebarTop {
	font-size: 12px;
	padding: 2em;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-family: 'Exo', sans-serif;
}

.sidebarTop div div {
	margin: 3px 0px;
}

.sidebarTop img {
	margin-right: 6px;
}


/* Checkout modal */
.close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	background-color: #000 !important;
	opacity: 1 !important;
}

.close:hover {
	color: #fff !important;
}

.emptyCartOption {
	text-align: right;
}

.emptyCartOption div {
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

.inputData {
	height: 30px;
	width: 100%;
	position: relative;
}

.inputData input {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 13px;
	border-bottom: 2px solid #eeeeee;
}

.inputData input:focus~label,
.inputData input:valid~label {
	transform: translateY(-20px);
	font-size: 13px;
	color: #000000;
}

.inputData label {
	position: absolute;
	bottom: 0px;
	left: 0;
	color: #000000;
	pointer-events: none;
	transition: all 0.3s ease;
	margin-bottom: 8px;
}

.inputData .underline {
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
}

.inputData .underline:before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #000000;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.inputData input:focus~.underline:before,
.inputData input:valid~.underline:before {
	transform: scaleX(1);
}

.couponsection input {
	border: 1px solid #eee;
	padding: 12px 12px;
	font-size: 13px;
	width: 100%;
}

.couponsection button {
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: 600;
	background-color: #000;
	color: #fff;
	font-size: 13px;
}

.footerButton1 {
	width: 50%;
	font-size: 20px;
	color: #000;
	font-weight: 800;
	margin: 0;
	text-align: left;
}

.footerButton2 {
	width: 50%;
	margin: 0;
	background-color: #000;
	color: #fff;
	padding: 15px 20px;
}

.footerButton2:hover {
	background-color: #000;
	color: #fff;
}

.cash_option {
	background-color: #ffe972;
	padding: 12px 0px;
	margin-top: 15px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
}


/* Notification */
.toastContainer {
	z-index: 9999999;
}

.notification {
	background: #ffe972;
	color: #000000;
	margin-bottom: 60%;
	margin-right: 35px;
	width: max-content;
	z-index: 9999999;
}

.notification div {
	background: #ffe972;
	color: #000000;
	border: none;
	box-shadow: none;
	font-size: 40px;
	font-weight: 600;
}


.pageContact {
	position: relative;
}

.scrollTopButton {
	cursor: pointer;
	position: absolute;
	bottom: 120px;
	right: 80px;
	font-size: 40px;
	color: #ffe972;
}


/* Footer */
.pageContact img {
	width: 100%;
}

.bottomFooter {
	background-color: #000000;
	text-align: center;
	padding-bottom: 17px;
}

.footerHeading {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}

.pageContact hr {
	border-bottom: 1px solid #FFE972;
	max-width: 200px;
	margin: 13px auto;
}

.footerSocial {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0px 20px 10px 20px;
	justify-content: center;
}

.footerSocial a {
	color: #fff;
	font-weight: 600;
	margin: 8px;
}

.credits {
	color: #fff;
	font-size: 13px;
}

.Sidebarcredits {
	color: #fff;
	font-size: 12px;
}

.credits span,
.Sidebarcredits span {
	color: #FFE972;
}

.pageLinks {
	text-decoration: none;
	color: #fff;
}

.pageLinks a {
	color: #fff;
	text-decoration: none;
}

@media only screen and (max-width: 800px) {
	.topBar {
		padding: 1em;
		height: 63px;
	}

	.topBar button {
		display: none;
	}

	.bottomBar {
		display: none;
	}

	.brand span {
		font-size: 24px;
		font-weight: 600;
	}
}

@media only screen and (max-width: 576px) {
	.scrollTopButton {
		bottom: 160px;
		right: 30px;
	}

	footer .bottomFooter {
		padding-bottom: 80px;
	}

	.footerHeading {
		font-size: 16px;
	}

	.footerSocial a {
		font-size: 16px;
	}

	.credits {
		font-size: 13px;
	}

	.mb9 {
		margin-bottom: 4rem !important;
	}

	.mfo35 {
		font-size: 35px !important;
	}

	.mfo32 {
		font-size: 32px !important;
	}

	.mfo30 {
		font-size: 30px !important;
	}

	.mfo25 {
		font-size: 25px !important;
	}

	.mfo24 {
		font-size: 24px !important;
	}

	.mfo22 {
		font-size: 22px !important;
	}

	.mfo20 {
		font-size: 20px !important;
	}

	.mfo18 {
		font-size: 18px !important;
	}

	.mfo17 {
		font-size: 17px !important;
	}

	.mfo16 {
		font-size: 16px !important;
	}

	.mfo15 {
		font-size: 15px !important;
	}

	.mfo14 {
		font-size: 14px !important;
	}

	.mfo13 {
		font-size: 13.5px !important;
	}

	.mfo12 {
		font-size: 12px !important;
	}

	.mfo11 {
		font-size: 11px !important;
	}

	.mow90 {
		width: 90% !important;
	}
}