/* page Preloder start*/

/* Percentage loader */
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress_outer {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFE972;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress_inner {
    height: 110px;
    width: 110px;
    background: #000;
    border-radius: 50%;
    /* box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0.5px 12px 10px rgba(0, 0, 0, 0.05); */
    display: flex;
    align-items: center;
    justify-content: center;
  
  
  }
  
  .progress_inner span {
    font-size: 18px;
    color: #fff;
  }



/* Simple loader*/

.simpleLoader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      border: 4px solid #ffffff;
      border-left-color: #000000;
    }
  
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      border: 4px solid #ffffff;
      border-left-color: #000000;
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      border: 4px solid #ffffff;
      border-left-color: #000000;
    }
  }