.contactComponent {
  position: relative;
  margin: 0px;
  /* width: 100%; */
}

.container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: white 1px solid;
  /* margin: 1em auto; */
  padding: .65em;
  color: gray;
}

.container div {
  display: flex;
  font-size: .8rem;
  gap: 4px;
}

.container span {
  cursor: pointer;
  margin-top: 2px;
}

.container input {
  background-color: transparent;
  outline: none;
  color: gray;
  border: none;
  margin: 0px;
  padding: 0px;
}

/* Chrome, Safari, Edge, Opera */
.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.container input[type=number] {
  -moz-appearance: textfield;
}

.dropdown {
  width: max-content;
  height: max-content;
  max-height: 300px;
  position: absolute;
  background: white;
  padding: .5em;
  display: none;
  box-shadow: 1px 2px 3px 4px rgb(230, 230, 230);
  z-index: 1;
}

.dropdownContent {
  /* margin-top: 1em; */
  overflow: auto;
  height: 100%;
  max-height: 200px;
  background: white;
}

.dropdownContent span {
  cursor: pointer;
  color: #414042;
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
}

.dropdownContent span:hover {
  color: #414042;
}

.dropdownContent img {
  margin-right: 8px;
}

.dropdownContent div {
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
}

.show {
  display: block;
}

.dropdown input {
  width: 100%;
  border: 1px solid #dad8d8;
  padding: 4px 6px;
  margin: 5px 0px;
}

.dropdown input::placeholder {
  color: gray;
  /* testing */
}

.contactInput2{
  padding-left: 6px;
}