.pri_offer_heading {
	font-size: 22px;
	height: 82px;
	padding: 0 8px;
	font-weight: 600;
	color: #ffe972;
}

.recommend {
	height: 30px;
	color: #ffe972;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.pricingSectionItems {
	list-style: none;
}

.pricingSectionItems li {
	border-bottom: 1px solid rgba(9, 9, 9, .04);
	color: #333;
	font-size: 12px;
	font-weight: 400;
	padding: 10px 15px;
	text-align: center;
}

.offerPrice {
	font-size: 22px;
	font-weight: 600;
}

.offerButton {
	background: #000;
	border-radius: 0;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
	color: #fff;
	font-family: Roboto Slab, Sans-serif;
	font-size: 15px;
	font-weight: 600;
	margin: 15px 0 10px;
	padding: 12px 25px;
}

.offerButton:hover {
	background: #000;
	color: #fff;
}


/* Services cards */

.cardContainer {
	/* max-width: max(30vw, 350px); */
	aspect-ratio: 1 / 1;
	/* padding-bottom: 56.25%; */
	position: relative;
	overflow: hidden;
	/* margin: 1em; */
	padding: 15px;
}

.cardBackground {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.backgroundImage {
	height: 100%;
	object-fit: contain;
	position: absolute;
	opacity: 1;
	transform: scale(1);
	transition: transform .8s, opacity .4s;
}

.cardContainer:hover .secondImage {
	opacity: 0;
	transform: scale(1.2);
	transition: transform .8s, opacity .4s;
	/* display: none; */
}

.messageBox {
	position: absolute;
	min-height: 200px;
	height: max-content;
	background: rgba(255, 255, 255, 0.8);
	width: 98%;
	padding: 1em;
	bottom: -100%;
	left: 50%;
	transform: translateX(-50%);
	transition: bottom .5s;
	z-index: 99;
	text-align: center;
}

.cardContainer:hover .messageBox {
	bottom: 0%;
	transition: bottom .5s;
}

.messageBox p {
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.serviceButton {
	background: linear-gradient(to left, #433074 0%, #a364a2 100%);
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 500ms ease;
	display: block;
	border-radius: 30px;
	padding: 12px 25px 10px;
	transition: all 500ms ease;
	cursor: pointer;
	margin-bottom: 10px;
}

.cursorPointer {
	cursor: pointer;
}

/* Blog card */
.listed_blog_title {
	color: #8b008b;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	/* height: 70px; */
	margin-top: 13px;
	cursor: pointer;
}

.listed_blog_summary {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}


@media only screen and (max-width: 576px) {
	.mb9 {
		margin-bottom: 4rem !important;
	}

	.mfo35 {
		font-size: 35px !important;
	}

	.mfo32 {
		font-size: 32px !important;
	}

	.mfo30 {
		font-size: 30px !important;
	}

	.mfo25 {
		font-size: 25px !important;
	}

	.mfo24 {
		font-size: 24px !important;
	}

	.mfo22 {
		font-size: 22px !important;
	}

	.mfo20 {
		font-size: 20px !important;
	}

	.mfo18 {
		font-size: 18px !important;
	}

	.mfo17 {
		font-size: 17px !important;
	}

	.mfo16 {
		font-size: 16px !important;
	}

	.mfo15 {
		font-size: 15px !important;
	}

	.mfo14 {
		font-size: 14px !important;
	}

	.mfo13 {
		font-size: 13.5px !important;
	}

	.mfo12 {
		font-size: 12px !important;
	}

	.mfo11 {
		font-size: 11px !important;
	}

	.mow90 {
		width: 90% !important;
	}
}