.fo11 {
	font-size: 11px;
}

.fo12 {
	font-size: 12px;
}

.fo13 {
	font-size: 13px;
}

.fo14 {
	font-size: 14px;
}

.fo15 {
	font-size: 15px;
}

.fo16 {
	font-size: 16px;
}

.fo17 {
	font-size: 17px;
}

.fo18 {
	font-size: 18px;
}

.fo19 {
	font-size: 19px;
}

.fo20 {
	font-size: 20px;
}

.fo21 {
	font-size: 21px;
}

.fo22 {
	font-size: 22px;
}

.fo24 {
	font-size: 24px;
}

.fo26 {
	font-size: 26px;
}

.fo28 {
	font-size: 28px;
}

.fo30 {
	font-size: 30px !important;
}

.fo32 {
	font-size: 32px;
}

.fo34 {
	font-size: 34px;
}

.fo36 {
	font-size: 36px;
}

.fo40 {
	font-size: 40px;
}

.fo52 {
	font-size: 52px;
}

.fo55 {
	font-size: 55px;
}

.fo65 {
	font-size: 65px;
}

.fw400 {
	font-weight: 400;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.cursorPointer {
	cursor: pointer;
}

.bco {
	color: #ffe972 !important;
}


.accordion {
	position: -webkit-sticky;
	margin: 0;
	border: 1px solid #d8d5db;
	border-width: 0px 1px 1px 1px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.accordion:nth-of-type(1) {
	border-top-width: 1px;
}

.accordionTitle {
	font-size: 18px;
	color: #3e4e50;
	font-weight: 500;
	display: flex;

	border-bottom: 4px solid;
}

.accordionTitle:hover {
	cursor: pointer;
}

.toggle {
	width: 16px;
	height: 16px;
	align-self: center;
	margin-left: auto;
	transition: all 0.35s ease;
	cursor: pointer;
}

.toggle[aria-expanded="true"] {
	transform: rotateZ(180deg);
	transform-origin: center;
}

.accordionContent {
	overflow: hidden;
	max-height: 1000px;
	transition: max-height 1s ease-in-out;
}

.accordionContent[aria-expanded="false"] {
	max-height: 0px;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.horizontalBar {
	background-color: black;
	display: block;
}

.blogShareDiv {
	width: 45px;
	height: 45px;
	background: #ffe972;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.blogShareDiv a {
	margin: auto;
	font-size: 22px;
	color: #000;
}


@media only screen and (max-width: 576px) {
	.mfo35 {
		font-size: 35px !important;
	}

	.mfo32 {
		font-size: 32px !important;
	}

	.mfo30 {
		font-size: 30px !important;
	}

	.mfo25 {
		font-size: 25px !important;
	}

	.mfo24 {
		font-size: 24px !important;
	}

	.mfo22 {
		font-size: 22px !important;
	}

	.mfo20 {
		font-size: 20px !important;
	}

	.mfo18 {
		font-size: 18px !important;
	}

	.mfo17 {
		font-size: 17px !important;
	}

	.mfo16 {
		font-size: 16px !important;
	}

	.mfo15 {
		font-size: 15px !important;
	}

	.mfo14 {
		font-size: 14px !important;
	}

	.mfo13 {
		font-size: 13.5px !important;
	}

	.mfo12 {
		font-size: 12px !important;
	}

	.mfo11 {
		font-size: 11px !important;
	}
}

@media only screen and (max-width: 600px) {
	.horizontalBar {
		background-color: transparent;
		display: none;
	}
}