.w8 {
	width: 8%;
}

.w10 {
	width: 10%;
}

.w30 {
	width: 30%;
}

.w50 {
	width: 50%;
}

.w70 {
	width: 70%;
}

.w80 {
	width: 80%;
}

.w90 {
	width: 90%;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.vh85 {
	height: 85vh;
}

.fo7 {
	font-size: 7px;
}

.fo11 {
	font-size: 11px;
}

.fo12 {
	font-size: 12px;
}

.fo13 {
	font-size: 13px;
}

.fo14 {
	font-size: 14px;
}

.fo15 {
	font-size: 15px;
}

.fo16 {
	font-size: 16px;
}

.fo17 {
	font-size: 17px;
}

.fo18 {
	font-size: 18px;
}

.fo19 {
	font-size: 19px;
}

.fo20 {
	font-size: 20px;
}

.fo21 {
	font-size: 21px;
}

.fo22 {
	font-size: 22px;
}

.fo24 {
	font-size: 24px;
}

.fo26 {
	font-size: 26px;
}

.fo28 {
	font-size: 28px;
}

.fo30 {
	font-size: 30px !important;
}

.fo32 {
	font-size: 32px;
}

.fo34 {
	font-size: 34px;
}

.fo36 {
	font-size: 36px;
}

.fo40 {
	font-size: 40px;
}

.fo52 {
	font-size: 52px;
}

.fo55 {
	font-size: 55px;
}

.fo65 {
	font-size: 65px;
}

.fw400 {
	font-weight: 400;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.bco {
	color: #ffe972 !important;
}

.textLeft {
	text-align: left !important;
	padding-left: 15px;
	padding-right: 30px;
}

.bgGrey {
	background-color: #eeeeee;
}

.bgDark {
	background-color: #000000;
}

.textDark {
	color: #000000;
}

/* Partners */

.partnersSection {
	padding: 0px 30px;
}

.partnersSection hr {
	border-bottom: 1px solid #fff;
	max-width: 50px;
	margin: 17px auto;
}

.partnersSection img {
	border-radius: 50%;
}

.midBorder {
	width: 1px;
	height: 160px;
	background: #868686;
}

.partnersButton {
	padding: 5px 20px;
	background-color: #000000;
	color: #fff;
	font-weight: 600;
}

.partnersButton:hover {
	background-color: #000000;
	color: #fff;
}

.HeaderContainer {
	background: url(../public/assets/banners/about_banner.png);
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-position: no-repeat;
	background-position: center;
}

/* About page */

.aboutpageContainer {
	height: 130px;
	display: flex;
	justify-content: center;
}

.aboutpageContainer a {
	margin: auto;
}

.aboutpageContainer img {
	max-height: 130px;
	margin: auto;
}

.lastAbout {
	border-bottom: 1px solid #0a4f80;
	padding-bottom: 25px;
	margin-bottom: 30px !important;
}

.bluetext {
	color: #003153;
}

.imageOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	flex-direction: column;
	justify-content: center;
	opacity: 1;
	transition: opacity 0.25s;
	/* display: flex; */
	padding-top: 70px;
}

.disclaimer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
	font-size: 14px;
}

.disclaimer span {
	font-weight: 700;
}

.externalPages {
	background-color: #000000;
}

.textYellow {
	color: #ffe972;
}

/* All blogs page */
.txtco {
	color: #777777;
	line-height: 1.35em;
}

.readMoreButton {
	background-color: #000000;
	color: #fff;
	padding: 10px 18px;
	font-weight: 600;
}

.readMoreButton:hover {
	background-color: #000000;
	color: #fff;
}

.cursorPointer {
	cursor: pointer;
}

@media only screen and (min-width: 577px) {

	.blogBanner,
	.blogCategoryNavbar {
		margin: 0px 80px;
	}

	.disclaimer {
		padding: 0px 260px;
	}

	.about_labels img {
		max-width: 500px;
	}

	.aboutSection {
		max-width: 550px;
		margin: auto;
	}

	.externalPages {
		padding: 190px 60px 30px 60px;
	}
}

@media only screen and (min-width: 1000px) {
	.about_labels img {
		max-width: 1000px;
	}

	.aboutSection {
		max-width: 700px;
		margin: auto;
	}

	.externalPages {
		padding: 190px 90px 50px 90px;
	}
}

@media only screen and (min-width: 1800px) {
	.disclaimer {
		padding: 0px 550px;
	}
}


@media only screen and (max-width: 576px) {
	.externalPages {
		padding: 25px 20px 200px 20px;
	}

	.disclaimer {
		padding: 0px 10px;
		font-size: 12px;
	}

	.aboutSection {
		max-width: 350px;
		margin: auto;
	}

	.aboutpageContainer {
		height: 80px;
	}

	.aboutpageContainer img {
		max-height: 80px;
	}

	.about_labels img {
		max-width: 360px;
	}

	.HeaderContainer {
		background: url(../public/assets/banners/about_banner_mobile.png);
		height: 27vh;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.midBorder {
		height: 120px;
	}

	.partnersSection {
		padding: 0px;
	}

	.mb9 {
		margin-bottom: 4rem !important;
	}

	.mfo35 {
		font-size: 35px !important;
	}

	.mfo32 {
		font-size: 32px !important;
	}

	.mfo30 {
		font-size: 30px !important;
	}

	.mfo25 {
		font-size: 25px !important;
	}

	.mfo24 {
		font-size: 24px !important;
	}

	.mfo22 {
		font-size: 22px !important;
	}

	.mfo20 {
		font-size: 20px !important;
	}

	.mfo18 {
		font-size: 18px !important;
	}

	.mfo17 {
		font-size: 17px !important;
	}

	.mfo16 {
		font-size: 16px !important;
	}

	.mfo15 {
		font-size: 15px !important;
	}

	.mfo14 {
		font-size: 14px !important;
	}

	.mfo13 {
		font-size: 13.5px !important;
	}

	.mfo12 {
		font-size: 12px !important;
	}

	.mfo11 {
		font-size: 11px !important;
	}

	.mow90 {
		width: 90% !important;
	}

	.mow100 {
		width: 100% !important;
	}
}