@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@700&family=Roboto+Slab:wght@700&display=swap');

/* Font families */
.exo {
	font-family: 'Exo', sans-serif;
}

.mont {
	font-family: 'Montserrat', sans-serif;
}

.opensans {
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-toggler svg{
	transform: rotate(180deg);
	transition: transform .5s;
}

.collapsed svg{
	transform: rotate(0deg);
}

.w8 {
	width: 8%;
}

.w10 {
	width: 10%;
}

.w30 {
	width: 30%;
}

.w50 {
	width: 50%;
}

.w70 {
	width: 70%;
}
.w-70{
	width: 70%;
	margin: auto;
}
.w80 {
	width: 80%;
}

.w90 {
	width: 90%;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.vh85 {
	height: 85vh;
}

.fo7 {
	font-size: 7px;
}

.fo11 {
	font-size: 11px;
}

.fo12 {
	font-size: 12px;
}

.fo13 {
	font-size: 13px;
}

.fo14 {
	font-size: 14px;
}

.fo15 {
	font-size: 15px;
}

.fo16 {
	font-size: 16px;
}

.fo17 {
	font-size: 17px;
}

.fo18 {
	font-size: 18px;
}

.fo19 {
	font-size: 19px;
}

.fo20 {
	font-size: 20px;
}

.fo21 {
	font-size: 21px;
}

.fo22 {
	font-size: 22px;
}

.fo24 {
	font-size: 24px;
}

.fo26 {
	font-size: 26px;
}

.fo28 {
	font-size: 28px;
}

.fo30 {
	font-size: 30px !important;
}

.fo32 {
	font-size: 32px;
}

.fo34 {
	font-size: 34px;
}

.fo36 {
	font-size: 36px;
}

.fo40 {
	font-size: 40px;
}

.fo52 {
	font-size: 52px;
}

.fo55 {
	font-size: 55px;
}

.fo65 {
	font-size: 65px;
}

.fw400 {
	font-weight: 400;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.bco {
	color: #ffe972 !important;
}

.toast-body{
	font-size: .6rem;
}

.sticky3 {
    position: sticky;
    top: 160px;
    padding: 10px;
    font-size: 13px;
  }

  .sticky2 {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-message{
	text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}


html,
body {
	font-family: open sans condensed, sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
}

.offcanvas-start {
	width: 360px;
}
main{
	min-height: 35vh;
	padding-top: 132px;
}
.offcanvas-header,
.offcanvas-body {
	background-color: black;
	color: white;
	text-align: center;
}


.link {
	cursor: pointer;
}

.link:hover {
	color: #ffe972;
	fill: #ffe972;
}

hr {
	opacity: 1;
}

#displayAllBlogs, .services_section{
	padding: 0px 110px;
}

.pricing-section{
	background-color: #eee;
	padding-bottom: 40px;
}

.pricing-section-container {
	font-family: "Roboto Slab", serif;
}
.pricing-section-container h2, .testimonials-heading{
	font-size: 40px;
	font-weight: 700;
	font-family: "Roboto Slab", serif;
}
.pricing-section-container hr{
	border-bottom: 3px solid #ffe972;
    max-width: 200px;
	margin: 20px auto 40px auto;
}
.pricingSectionBox{
	padding: 0px 120px;
}
.darkPricing{
	background-color: #000000;
}
.darkPricing{
	color: #fff;
}
  
.darkPricing li {
	color: #fff !important;
}

.darkPricing button {
	color: #000 !important;
	background-color: #ffe972 !important;
}

.offerCard{
	height: 650px;
}

input{
	outline: none;
}
.modal-header{
	border: none;
}

footer{
	margin-top: -100px;
}

a{
	text-decoration: none!important;
}

.galleryClose{
	position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color: #000!important;
    opacity: 1!important;
}

  .homeBottom{
	margin-bottom: 180px;
  }

  .portfolioSection_desktop {
    width: 4400px;
  }
  
  .portfolioSection_desktop .card {
    height: 360px;
  }
  
  .portfolioSection_desktop .card img {
    height: 360px;
    width: auto;
  }
  .context-menu {
	position: absolute;
	text-align: center;
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	width: 225px;
	font-size: 13px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
	z-index: 99999;
  }

hr{
	background-color: transparent;
}
.modal-dialog{
	display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

/* .portfolioSection_mobile{
	padding: 0px 40px;
} */

.allBlogsSection{
	margin-top: 50px;
  }

/* Single Blog page */

.blogImageContainer {
	max-width: 65%;
	box-shadow: -9px 25px 37px -10px rgb(0 0 0 / 44%);
	margin: auto;
  }
  
  .blogImageContainer img {
	width: 100%;
	height: auto;
	margin: auto;
  }
  
  .blogWriter {
	text-align: center;
	padding: 60px 60px 30px 60px;
  }
  
  .blogWriter img {
	/* width: 300px;
	  height: 300px; */
	width: 100%;
	border-radius: 50%;
  }
  
  .blogWriter div {
	text-transform: uppercase;
	font-size: 11px;
  }
  
  .blogWriter .row .fw-700 {
	color: #1a1a1a;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.9px;
	margin-bottom: 2px;
  }
  
  .blogHeading {
	color: #1a1a1a;
	font-family: "Roboto", Sans-serif;
	font-size: 39px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.4em;
  }
  
  .blogBorder {
	border-top: none !important;
	border-bottom: 4px solid #e8ce3f;
	max-width: 200px;
	margin: 15px auto;
  }
  
  .shareBorder {
	border-bottom: 3px solid #ffe972;
	max-width: 100px;
	margin: 10px auto;
  }
  
  .blogDate {
	color: #525252;
	font-family: Karla;
	letter-spacing: 0.15em;
  }
  #blogContent{
	padding: 0px 10px;
  }
  
  .blogContent {
	line-height: 1.25em;
	font-family: Karla;
	color: #333333;
  }

  .blogHeadContent{
	padding-top: 80px;
  }
  
  .blogBodyContent {
	text-align: justify;
  }
  
  #accordion a {
	color: #000;
  }
  
  .sticky {
	position: sticky;
	top: 160px;
	padding: 10px;
	font-size: 13px;
  }

  #blogContent img{
	width: 70%;
}
.fo-13{
	font-size: 13px;
}

.p500{
	padding: 0px 500px;
}
.p300{
	padding: 0px 300px;
}
.p150{
	padding: 0px 150px;
}
.dynamicPageSection{
	min-height: 90vh;
}
.page-message{
	padding: 90px 190px;
}
  @media only screen and (min-width: 1800px){
	.portfolioSection_desktop {
    width: 5050px;
  }
  
  .portfolioSection_desktop .card {
    height: 500px;
  }
  
  .portfolioSection_desktop .card img {
    height: 500px;
    width: auto;
  }

  }
@media only screen and (max-width: 1200px) {

	html,
	body {
		font-size: 13px;
	}
}

@media only screen and (max-width: 800px) {
	main{
		padding-top: 62px;
	}
	html,
	body {
		font-size: 12px;
	}
}

@media only screen and (max-width: 576px) {
	#blogContent img{
		width: 100%!important;
	}
	.mow-100{
		width: 100%;
	}
	.page-message{
		padding: 130px 20px;
	}
	.dynamicPageSection{
		min-height: 110vh;
	}
	.p500{
		padding: 0px 20px!important;
	}
	.p300{
		padding: 0px 30px!important;
	}
	.p150{
		padding: 0px 0px!important;
	}
	#displayAllBlogs, .services_section{
		padding: 0px 10px;
	}
	.homeBottom {
		margin-bottom: 130px;
	}
	main {
		min-height: 47vh;
		padding-top: 60px;
	}
	.pricing-section-container h2{
		font-size: 20px
	}
	.pricingSectionBox{
		padding: 0px 20px;
	}

	/* Blogs page*/
	#blogsSection img,
	#blogsSection video {
	  height: 310px;
	}
  
	.blogImageContainer {
	  max-width: 100% !important;
	}
  
	.blogHeading {
	  font-size: 25px !important;
	  line-height: 1.4em !important;
	  padding: 0px 15px !important;
	}
  
	.blogWriter {
	  text-align: center !important;
	  padding: 60px 20px 30px 20px !important;
	}
  
	.p500 img {
	  width: 60%;
	}
	.p300 img{
		width: 90%;
	}
	.p150 img{
		width: 100%;
	}
	.blogContent.fw-600 {
	  padding-top: 80px;
	}
  
	.stickyContents {
	  box-shadow: 0px 10px 12px 0px rgb(0 0 0 / 15%);
	  padding-top: 10px;
	  padding-bottom: 10px;
	  background-color: #fff;
	  z-index: 99;
	}
  
	.blogShareIcons .col-2 {
	  padding: 0px 1px;
	}
	.blogContent {
		line-height: 1.5em;
	}
	.slick-track{
		display: flex;
		justify-content: center;
	}
	.slick-slide{
		margin: auto;
	}
	.copyright_img{
		width: 85%!important;
		margin: auto;
	}
}

@media only screen and (max-width: 400px) {
	.offcanvas-start {
		width: 100%;
	}
}


/* Home blogs */
#s1:checked~#slide4,
  #s2:checked~#slide5,
  #s3:checked~#slide1,
  #s4:checked~#slide2,
  #s5:checked~#slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-60%, 0, -200px);
  }
  
  #s1:checked~#slide5,
  #s2:checked~#slide1,
  #s3:checked~#slide2,
  #s4:checked~#slide3,
  #s5:checked~#slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-30%, 0, -100px);
  }
  
  #s1:checked~#slide1,
  #s2:checked~#slide2,
  #s3:checked~#slide3,
  #s4:checked~#slide4,
  #s5:checked~#slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0, 0, 0);
  }
  
  #s1:checked~#slide2,
  #s2:checked~#slide3,
  #s3:checked~#slide4,
  #s4:checked~#slide5,
  #s5:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(30%, 0, -100px);
  }
  
  #s1:checked~#slide3,
  #s2:checked~#slide4,
  #s3:checked~#slide5,
  #s4:checked~#slide1,
  #s5:checked~#slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(60%, 0, -200px);
  }

  .websiteSectionc{
	min-height: 75vh;
  }

  .contactContainer{
	max-width: 600px;
	margin-top: 30px;
	margin-bottom: 100px!important;
  }

  .consultancy_form input, .consultancy_form select{
	border: 1px solid #FFFFFF;
	border-radius: 0;
	width: 100%;
	margin: 10px 0px;
	padding: 8px 15px;
	background: transparent;
	color: #717171;
	font-size: 13px;
}
.consultancy_form .w-47{
	width: 47%;
	margin-right: 2%;
}
.consultancy_form input::placeholder {
	font-size: 13px;
	color: #717171;
}

.consultancy_form textarea{
	border: 1px solid #FFFFFF;
	border-radius: 0;
	width: 100%;
	margin: 6px 0px;
	padding: 8px 15px;
	background: transparent;
	color: #717171;
	height: 150px;
	resize: none;
	font-size: 13px;
}
.modal .consultancy_form textarea{
	height: 70px;
}
.consultancy_form .btn{
	background: #ffe972;
	font-size: 14px;
	color: #000;
	padding: 8px 25px;
	font-weight: 700;
}

.consultancy_form .btn:hover{
	background: #ffe972;
	font-size: 14px;
	color: #000;
	padding: 8px 25px;
	font-weight: 700;
}

#contact{
	padding-top: 120px;
}

.gray{
	color: gray!important;
}

@media only screen and (max-width: 700px) {
	.contactContainer{
		max-width: 335px;
		margin-top: 30px;
		margin-bottom: 100px!important;
	}
	#contact{
		padding-top: 60px;
	}
}